{
    "pubkey": {{ pubkey | to_json }},
    "amount": "{{ amount }}",
    "moniker": "{{ moniker }}",
    "commission-rate": "0.1",
    "commission-max-rate": "0.2",
    "commission-max-change-rate": "0.01",
    "min-self-delegation": "1"
}
